<%= form_with url: url, local: true do |form| %>
  <div class="col-3 my-3">
    <%= form.label 'Ad Id' %>
    <%= form.text_field :ad_id, class: 'form-control', value: @audience.present? ? @audience.custom_audience_id : '' %>
  </div>
  <div class="col-3 mb-3">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control', value: @audience.present? ? @audience.name : '' %>
  </div>
  <%= form.submit confirm, class: 'btn btn-primary' %>
<% end %>
