<% if flash[:alert] %>
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
   <%= flash[:alert] %>
   <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>
<h4 class="my-3">Csv Upload</h4>
<%= form_with url: audience_user_path(id: params[:id], definition: params[:definition]), local: true, class: 'col-3' do |form| %>
  <div>
    <%= form.file_field :file, class: 'form-control' %>
  </div>
  <div class="d-flex justify-content-between mt-3">
  <%= link_to 'Back', linkage_system_path(params[:id], definition: params[:definition]), class: 'btn btn-dark' %>
  <%= form.submit 'Upload', class: 'btn btn-primary' %>
  </div>
<% end %>

